<div class="d-flex justify-content-between align-items-center box-title-buttons">
  <div class="flex-grow-1">
    <h1 class="mb-0 font-weight-bold">Evento N° <%= @event.id %></h1>
  </div>

  <div class="mr-2">
    <%= link_to edit_event_path(@event, view: "show"), class: "btn btn-edit btn-sm btn-icon btn-action-custome mr-2", data: { turbo: false } do %>
      <i class="fa fa-edit"></i> Editar
    <% end %>
  </div>

  <div class="mr-2">
    <%= button_to event_path(@event), method: :delete, remote: true, data: { confirm: I18n.t('events.delete.confirm', name: @event.name, number: @event.id), turbo: false }, class: "btn btn-light btn-sm btn-icon d-inline-block btn-action-custome mr-2" do %>
      <i class="fa fa-trash"></i> Eliminar
    <% end %>
  </div>
  <div>
    <%= link_to events_path, class: "btn btn-secondary btn-icon btn-action-custome" do %>
      <i class="fa fa-arrow-left mr-2"></i> Volver
    <% end %>
  </div>
</div>

<%= render "event", event: @event %>
