<!DOCTYPE html>
<html>
  <head>
    <title>LemontechEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="turbo-prefetch" content="false">
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/signed' %>
    <% else %>
      <%= render 'layouts/not_signed' %>
    <% end %>

    <footer class="text-center text-white py-3">
      <p>&copy; <%= Time.now.year %> Génesis González (contacto: <a href="mailto:genesisgonza05@gmail.com">genesisgonza05@gmail.com</a>)</p>
    </footer>

  </body>
</html>
